.signupForm{
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
.signupFormBtn{
    background-color: black;
    color: white;
    width: 50vh;
    height: 5vh; 
    border-radius: 2vh;
}